/* about.css */
body, html {
    margin: 0;
    height: 100%;
  }
  
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    height: auto !important;
  }
  
  .msg-text {
    text-align: center;
    font-size: 2rem;
    color: #c3fdff; /* You can adjust the color as needed */
  }
  