/* Ensure the body and html take up the full height of the viewport */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Set the main container to use flexbox and fill the full height */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ensure the main content has enough top margin to account for the fixed navbar */
.content {
  flex: 1;
  margin-top: 60px; /* Adjust to the height of your navbar */
  padding: 16px;
  /* background-image:linear-gradient(to top, rgb(28, 11, 63), rgb(50, 22, 105)) */
  background-image: url('./Assets/Background.jpg');
  background-size: cover; /* Ensure the image covers the whole screen */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center; /* Center the image */
  background-attachment: fixed; /* Fix the image in place */
}

/* Style the footer */
.footer {
  padding-top: 16px; 
}
